Xin/Xin.WebApplication/Service References/NAQRPDService/NAQRPDService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NAQRPD.Common.Evaluation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NAQRPD.Common.Evaluation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HourAQICalculate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AQI" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NO2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="O3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PM10" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PM25" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrimaryPollutant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HourAQICalculate" nillable="true" type="tns:HourAQICalculate" />
  <xs:complexType name="DayAQICalculate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AQI" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NO2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="O3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PM10" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PM25" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrimaryPollutant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DayAQICalculate" nillable="true" type="tns:DayAQICalculate" />
</xs:schema>