Xin/Xin.WebApplication/Service References/NAQRPDService/NAQRPDService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cityphoto.suncereltd.cn:18407/NAQRPDWCF/NAQRPDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NAQRPD.Common" />
  <xs:element name="GetAQRPSDLive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQRPSDLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NAQRPD.Common" minOccurs="0" name="GetAQRPSDLiveResult" nillable="true" type="q1:ArrayOfAQRPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQSPSDLive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQSPSDLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NAQRPD.Common" minOccurs="0" name="GetAQSPSDLiveResult" nillable="true" type="q2:ArrayOfAQDPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQRPSDHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQRPSDHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NAQRPD.Common" minOccurs="0" name="GetAQRPSDHistoryResult" nillable="true" type="q3:ArrayOfAQRPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQDPSDLive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQDPSDLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NAQRPD.Common" minOccurs="0" name="GetAQDPSDLiveResult" nillable="true" type="q4:ArrayOfAQDPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQDPSDHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQDPSDHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NAQRPD.Common" minOccurs="0" name="GetAQDPSDHistoryResult" nillable="true" type="q5:ArrayOfAQDPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQRPCDLive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQRPCDLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NAQRPD.Common" minOccurs="0" name="GetAQRPCDLiveResult" nillable="true" type="q6:ArrayOfAQRPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQRPCDHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQRPCDHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NAQRPD.Common" minOccurs="0" name="GetAQRPCDHistoryResult" nillable="true" type="q7:ArrayOfAQRPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQDPCDLive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQDPCDLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NAQRPD.Common" minOccurs="0" name="GetAQDPCDLiveResult" nillable="true" type="q8:ArrayOfAQDPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQDPCDHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQDPCDHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NAQRPD.Common" minOccurs="0" name="GetAQDPCDHistoryResult" nillable="true" type="q9:ArrayOfAQDPD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>