Xin/Xin.WindowsFormsApplication/Service References/MeteorologyDataService/MeteorologyData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MeteorologyData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cityphoto.suncereltd.cn:18405/DataCenterWCF/MeteorologyData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cityphoto.suncereltd.cn:18405/DataCenterWCF/MeteorologyData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cityphoto.suncereltd.cn:18405/DataCenterWCF/MeteorologyData.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://cityphoto.suncereltd.cn:18405/DataCenterWCF/MeteorologyData.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMeteorologyData_GetRealtimeSpiDataLast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRealtimeSpiDataLast" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetRealtimeSpiDataLast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRealtimeSpiDataLastResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetHourSpiDataLast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHourSpiDataLast" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetHourSpiDataLast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHourSpiDataLastResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetHourSpiData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHourSpiData" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetHourSpiData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHourSpiDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetDaySpiData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDaySpiData" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetDaySpiData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDaySpiDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetHourForecastData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHourForecastData" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetHourForecastData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHourForecastDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetDayForecastData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDayForecastData" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetDayForecastData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDayForecastDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GDMOTenDaysForecastInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GDMOTenDaysForecastInfo" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GDMOTenDaysForecastInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GDMOTenDaysForecastInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetImageInfoData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageInfoData" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetImageInfoData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageInfoDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetImageAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageAttribute" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetImageAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetImageConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageConfig" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetImageConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetTrajectoryPic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrajectoryPic" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetTrajectoryPic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrajectoryPicResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetCityList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityList" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetCityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityListResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetCityPollutantForecast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityPollutantForecast" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetCityPollutantForecast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityPollutantForecastResponse" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetProvincePollutantForecast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvincePollutantForecast" />
  </wsdl:message>
  <wsdl:message name="IMeteorologyData_GetProvincePollutantForecast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvincePollutantForecastResponse" />
  </wsdl:message>
  <wsdl:portType name="IMeteorologyData">
    <wsdl:operation name="GetRealtimeSpiDataLast">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetRealtimeSpiDataLast" message="tns:IMeteorologyData_GetRealtimeSpiDataLast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetRealtimeSpiDataLastResponse" message="tns:IMeteorologyData_GetRealtimeSpiDataLast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHourSpiDataLast">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetHourSpiDataLast" message="tns:IMeteorologyData_GetHourSpiDataLast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetHourSpiDataLastResponse" message="tns:IMeteorologyData_GetHourSpiDataLast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHourSpiData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetHourSpiData" message="tns:IMeteorologyData_GetHourSpiData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetHourSpiDataResponse" message="tns:IMeteorologyData_GetHourSpiData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDaySpiData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetDaySpiData" message="tns:IMeteorologyData_GetDaySpiData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetDaySpiDataResponse" message="tns:IMeteorologyData_GetDaySpiData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHourForecastData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetHourForecastData" message="tns:IMeteorologyData_GetHourForecastData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetHourForecastDataResponse" message="tns:IMeteorologyData_GetHourForecastData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDayForecastData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetDayForecastData" message="tns:IMeteorologyData_GetDayForecastData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetDayForecastDataResponse" message="tns:IMeteorologyData_GetDayForecastData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GDMOTenDaysForecastInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GDMOTenDaysForecastInfo" message="tns:IMeteorologyData_GDMOTenDaysForecastInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GDMOTenDaysForecastInfoResponse" message="tns:IMeteorologyData_GDMOTenDaysForecastInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageInfoData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetImageInfoData" message="tns:IMeteorologyData_GetImageInfoData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetImageInfoDataResponse" message="tns:IMeteorologyData_GetImageInfoData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageAttribute">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetImageAttribute" message="tns:IMeteorologyData_GetImageAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetImageAttributeResponse" message="tns:IMeteorologyData_GetImageAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetImageConfig" message="tns:IMeteorologyData_GetImageConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetImageConfigResponse" message="tns:IMeteorologyData_GetImageConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrajectoryPic">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetTrajectoryPic" message="tns:IMeteorologyData_GetTrajectoryPic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetTrajectoryPicResponse" message="tns:IMeteorologyData_GetTrajectoryPic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCityList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetCityList" message="tns:IMeteorologyData_GetCityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetCityListResponse" message="tns:IMeteorologyData_GetCityList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCityPollutantForecast">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetCityPollutantForecast" message="tns:IMeteorologyData_GetCityPollutantForecast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetCityPollutantForecastResponse" message="tns:IMeteorologyData_GetCityPollutantForecast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvincePollutantForecast">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeteorologyData/GetProvincePollutantForecast" message="tns:IMeteorologyData_GetProvincePollutantForecast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeteorologyData/GetProvincePollutantForecastResponse" message="tns:IMeteorologyData_GetProvincePollutantForecast_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMeteorologyData" type="tns:IMeteorologyData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRealtimeSpiDataLast">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetRealtimeSpiDataLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHourSpiDataLast">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetHourSpiDataLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHourSpiData">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetHourSpiData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDaySpiData">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetDaySpiData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHourForecastData">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetHourForecastData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayForecastData">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetDayForecastData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GDMOTenDaysForecastInfo">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GDMOTenDaysForecastInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageInfoData">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetImageInfoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageAttribute">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetImageAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageConfig">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetImageConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrajectoryPic">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetTrajectoryPic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityList">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetCityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityPollutantForecast">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetCityPollutantForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvincePollutantForecast">
      <soap:operation soapAction="http://tempuri.org/IMeteorologyData/GetProvincePollutantForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeteorologyData">
    <wsdl:port name="BasicHttpBinding_IMeteorologyData" binding="tns:BasicHttpBinding_IMeteorologyData">
      <soap:address location="http://cityphoto.suncereltd.cn:18405/DataCenterWCF/MeteorologyData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>