Xin/Xin.WindowsFormsApplication/Service References/MeteorologyDataService/MeteorologyData3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cityphoto.suncereltd.cn:18405/DataCenterWCF/MeteorologyData.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://cityphoto.suncereltd.cn:18405/DataCenterWCF/MeteorologyData.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" />
  <xs:element name="GetRealtimeSpiDataLast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cityCodes" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRealtimeSpiDataLastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetRealtimeSpiDataLastResult" nillable="true" type="q2:ArrayOfWeather_R_SpiDatum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourSpiDataLast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cityCodes" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourSpiDataLastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetHourSpiDataLastResult" nillable="true" type="q4:ArrayOfWeather_H_SpiDatum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourSpiData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cityCodes" nillable="true" type="q5:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourSpiDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetHourSpiDataResult" nillable="true" type="q6:ArrayOfWeather_H_SpiDatum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDaySpiData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cityCodes" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDaySpiDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetDaySpiDataResult" nillable="true" type="q8:ArrayOfWeather_D_SpiDatum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourForecastData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cityCodes" nillable="true" type="q9:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourForecastDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetHourForecastDataResult" nillable="true" type="q10:ArrayOfWeather_H_Forecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayForecastData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cityCodes" nillable="true" type="q11:ArrayOfstring" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayForecastDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetDayForecastDataResult" nillable="true" type="q12:ArrayOfCity_WeatherForecastInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GDMOTenDaysForecastInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timePoint" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GDMOTenDaysForecastInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GDMOTenDaysForecastInfoResult" nillable="true" type="q13:GDMOTenDay_ForecastInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfoData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UTC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hPa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfoDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetImageInfoDataResult" nillable="true" type="q14:ArrayOfImageSpiQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageTypeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetImageAttributeResult" nillable="true" type="q15:ArrayOfKeyValueOfstringArrayOfKeyValueOfstringstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageTypeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetImageConfigResult" nillable="true" type="q16:ImageCommandConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrajectoryPic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timePoint" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cityCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrajectoryPicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetTrajectoryPicResult" nillable="true" type="q17:ArrayOfTrajectoryPic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetCityListResult" nillable="true" type="q18:ArrayOfNMCCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityPollutantForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publishData" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityPollutantForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetCityPollutantForecastResult" nillable="true" type="q19:ArrayOfNationCityPollutantForecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvincePollutantForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publishData" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvincePollutantForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ForecastDataSystem.Model" minOccurs="0" name="GetProvincePollutantForecastResult" nillable="true" type="q20:ArrayOfNationProvincePollutantForecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>